*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #292c34;
}

header{
    background: #ffffff;
    padding: 20px;
}

header > h1{
    color: #292c34;
    text-align: center;
    font-family: sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;    
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: #ffffff;
    font-size: 46px;   
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;
}

.badge{
    background: #e2584d;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    font-size: 40px;
    color: #ffffff;
}

.result > p{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.choices{
    margin: 50px 0;
    text-align: center;
}

.choice{
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
    opacity: 0.5;
    transition: all 1s ease;
}

.choice:hover{
    cursor: pointer;
    opacity: 1;
}

.choice > img{
    height: 200px;
}

#action-msg{
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}